@import "tailwind.css";
@import "theme.css";
#app {
  width: 300px;
  margin: 0 auto;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.title {
  width: 100%;
  height: 40px;
  background-color: hsl(var(--primary));
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.setting-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
.setting-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
